*{
    box-sizing: border-box;
}
body{
     display: flex;
     height: 100vh;
     justify-content: center;
     align-items: center;
     margin: 0;
}
h2{
    color: darkblue;
}
::placeholder{
    color: whitesmoke;
}
.passwordContainer{
    text-align: center;
    background-color: lightseagreen;
    width: 500px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 
    rgba(0, 0, 0, 0.25) 0px 54px 55px,
     rgba(0, 0, 0, 0.12) 0px -12px 30px,
     rgba(0, 0, 0, 0.12) 0px 4px 6px,
     rgba(0, 0, 0, 0.17) 0px 12px 13px,
     rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.alertContainer{
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: lightskyblue;
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: 0.4s;
}
.inputContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid darkblue;
    padding: 10px;
    border-radius: 10px;
}
input{
    border: none;
    background: none;
    outline: none;
    font-size: 24px;
}
.fa-copy{
    cursor: pointer;
    opacity: 0.3;
}
.fa-copy:hover{
    opacity: 1;
}
button{
    padding: 10px 30px;
    font-size: 24px;
    margin: 10px 0px;
    border: none;
    border-radius: 20px;
    background: darkblue;
    color: white;
}
.passwordButton:hover{
    background: black;
}
.active{
    right: -300px;
}   
